@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ECF0F1;
    ;
}
li{
    text-decoration: none;
    list-style: none;
    width: 80%;
    margin: auto;
    padding-left: 10%;
    margin-top: 4px;
    display: flex;
    padding-top:2% ;
    padding-bottom:2% ;
    border-radius: 10px;
}
li:hover{
    background-color: blue;
    color: whitesmoke;

}
.controldiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50%;

}
#controler{
    height: 40%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    cursor: grab;
    display: flex;
    flex-direction: column;text-align: bottom;

    
}
@media (max-width:768px) {
    #controler{
        /* margin-top: 10px; */
        margin-bottom: 10px;

    }
    
}